# Visual Studio Project Files
*.sdf
*.sln
*.suo

# Folders
UltimateTutorials/Binaries/
UltimateTutorials/Build/
UltimateTutorials/DerivedDataCache/
UltimateTutorials/Intermediate/
UltimateTutorials/Saved/
UltimateTutorials/Content/AI_System/
UltimateTutorials/Content/MixamoAnimPack/
